<section id="login-registration-form-container" class="registration">
  <form name="registrationForm" id="login-registration-form" action="/account/registration" method="post">
    <% if (title) { %>
      <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>

    <p id="all-fields-required">All fields are required.</p>

    <div class="form-field">
      <label for="account_firstname" class="required">First Name</label>
      <input name="account_firstname" id="account_firstname" type="text" required>
    </div>
    <div class="form-field">
      <label for="account_lastname" class="required">Last Name</label>
      <input name="account_lastname" id="account_lastname" type="text" required>
    </div>
    <div class="form-field">
      <label for="account_email" class="required">Email</label>
      <input name="account_email" id="account_email" type="email" required>
    </div>
    <div class="form-field">
      <label for="account_password" class="required">Password</label>
      <div id="password-must-contain">
        <p>Must contain:</p>
        <ul>
          <li>Minimum 12 characters</li>
          <li>1 capital letter</li>
          <li>1 number</li>
          <li>1 special character</li>
        </ul>
      </div>
      <input name="account_password" id="account_password" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    </div>
    <div class="form-field">
      <label for="confirm_password" class="required">Confirm Password</label>
      <input name="confirm_password" id="confirm_password" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
      <div id="show-password">
        <input type="checkbox" onclick="(() => {
          const passwordInputs = document.querySelectorAll('#account_password, #confirm_password');

          passwordInputs.forEach(input => {
            if (this.checked) {
              if (input.type === 'password') {
                input.type = 'text';
              }
            } else {
              if (input.type === 'text') {
                input.type = 'password';
              }
            }
          });
        })()">Show Password
      </div>
    </div>
    <button type="submit" id="register-btn">Register</button>
  </form>
</section>