/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'roboto', sans-serif;
  background-image: url('/images/site/checkerboard.jpg');
  display: grid;
  place-items: center;
  height: 100vh;
  overflow-x: hidden;
}

#wrapper {
  background: white;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 992px) {
  #wrapper {
    border: 5px solid lightseagreen;
    border-radius: 12px;
    padding: 1rem;
    width: 75%;
    height: 96.7%;
  }
}

/********** Header *************/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 0 1rem;
}

#top-header .site-name {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

/********** Navigation *************/
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: rgb(15, 15, 15);
  padding: 1rem 0.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/********** Hero *************/
#hero {
  padding: 1.25rem;
  position: relative;
  background-image: url('/images/vehicles/delorean.jpg');
  background-size: 80%;
  background-position: right;
  background-repeat: no-repeat;
  height: 50vh;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  #hero {
    background-size: 65%;
  }
  #hero #hero-cta-box {
    width: 300px;
  }
}

#hero #hero-cta-box {
  margin-top: 1.5rem;
  position: absolute;
  z-index: 10;
  background-color: rgba(22, 26, 25, 0.767);
  height: fit-content;
  padding: 1rem;
  color: white;
}

#hero #hero-cta {
  display: grid;
  place-items: center;
  padding: 0.75rem 1rem;
  background-color: rgb(15, 15, 15);
  color: white;
  height: 44px;
  margin-top: 1rem;
}

/********** Highlight Car Info *************/
#highlight-car-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  margin-top: -1.75rem;
}

@media screen and (min-width: 992px) {
  #highlight-car-info {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
  }
}

/********** Reviews *************/
#reviews {
  z-index: 10;
}

#reviews h2 {
  margin-bottom: 1rem;
}

#reviews ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

/********** Upgrades *************/
#upgrades h2 {
  margin-bottom: 1rem;
}

#upgrades #options {
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(100px, 200px);
  grid-template-rows: auto auto;
  gap: 1rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #options {
    justify-content: center;
  }
}

#upgrades #options .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  padding-bottom: 2rem;
  width: 10rem;
}

#upgrades #options .option picture {
  width: 4.5rem;
  display: grid;
  place-items: center;
}

#upgrades #options .option a {
  display: block;
  position: absolute;
  bottom: 0;
}

/********** Inventory *************/
#inv-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

#inv-display li {
  list-style: none;
  width: 250px;
}

#inv-display li a {
  display: block;
  border-radius: 12px;
}

#inv-display li img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

#inv-display .nameprice {
  bottom: 0;
}

#inv-display .namePrice hr {
  margin: 1rem 0;
  width: 50px;
  color: #4ea4ff;
}

#inv-display li .namePrice h2 a, #inv-display li .namePrice span {
  color: black;
}


/********** Vehicle Details *************/
#vehicle-details {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
  #vehicle-details {
    flex-direction: column;
    align-items: center;
  }
}

#vehicle-details picture {
  max-width: 500px;
}

#vehicle-details picture img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#vehicle-details #milesAndPrice {
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 0;
  gap: 2rem;
}

#vehicle-details #milesAndPrice #price {
  font-weight: bold;
  font-size: 24px;
}

#vehicle-details #details p {
  margin-bottom: 1rem;
}

#vehicle-details #details #description {
  max-width: 350px;
  width: 100%;
  line-height: 1.5rem;
}


/********** Footer *************/
footer {
  margin-top: 2rem;
  padding: 1.5rem 1rem;
}


/********** Error and 404 style *************/
#error-and-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 60vh;
  width: 100%;
  padding: 1rem 2rem;
}

/********** Login/Registration Form *************/
#login-registration-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

#login-registration-form-container.registration {
  height: fit-content;
  margin-top: 6rem;
}

#login-registration-form {
  max-width: 320px;
  width: 100%;
  padding: 0 1rem;
}

#login-registration-form h1 {
  margin-bottom: 1.2rem;
}

#login-registration-form #all-fields-required {
  padding-bottom: 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1.125rem;
}

.form-field input {
  height: 2.125rem;
}

.form-field #password-must-contain {
  font-size: 12px;
  margin-bottom: 1rem;
  color: #535353;
}

#password-must-contain ul {
  margin-left: 1rem;
}

#show-password {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#login-registration-form #login-btn, #register-btn {
  padding: .75rem 2rem;
  background: black;
  color: white;
  margin-bottom: 2rem;
  display: block;
  width: fit-content;
  cursor: pointer;
  display: block;
  border: none;
  font-size: 16px;
}

#login-registration-form #sign-up {
  cursor: pointer;
}

#login-registration-form .required:after {
  content: "*";
  margin-left: .2rem;
}

.notice {
  list-style: none;
  margin-bottom: 1.5rem;
  background-color: lightpink;
  color: darkred;
  line-height: 1.5;
  padding: .5rem;
}

#messages .notice {
  list-style: none;
  margin-bottom: 1.5rem;
  background-color: lightblue;
  color: darkcyan;
  line-height: 1.5;
  padding: .5rem;
}

/* input:required:invalid, input:focus:invalid {
}

input:required:valid {
} */

/********** Account Management *************/
#account-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

#account-management-container #welcome-message {
  margin-top: .5rem;
}

#account-management-container .action {
  margin-top: 2rem;
  text-align: center;
}

/********** Update Account *************/
#update-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 3rem 1rem;
}

#action-forms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

#action-forms h2 {
  margin-bottom: 1rem;
}

#update-account-container input[type=submit] {
  padding: .75rem 2rem;
  background: black;
  color: white;
  display: block;
  width: fit-content;
  cursor: pointer;
  display: block;
  border: none;
  font-size: 16px;
  margin-top: 1.5rem;
}

/********** Website Management *************/
#management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#management-container #management-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
  gap: .75rem;
  text-align: center;
}

#management-actions a {
  padding: .75rem 2rem;
  background: black;
  color: white;
  display: block;
  width: 224.117px;
  cursor: pointer;
  display: block;
  border: none;
  font-size: 16px;
}

#management-container h2 {
  margin-top: 2rem;
}

#classificationList {
  margin: 1rem 0;
}

#inventoryDisplay thead {
  text-align: left;
  background:black;
  color: white;
}

/********** Add Classification *************/
#add-classification-inventory-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 4rem 1rem;
}

#add-classification-inventory-container h1 {
  margin-bottom: 1rem;
}

#add-classification-inventory-container input[type=submit] {
  padding: .75rem 2rem;
  background: black;
  color: white;
  display: block;
  width: fit-content;
  cursor: pointer;
  display: block;
  border: none;
  font-size: 16px;
  margin-top: 1.5rem;
}